body{
    font-family: 'Noto Sans Lao', sans-serif;
}
.logo{
    width: 40%;
    height: auto;
}
/* #adminlogo{
    width: 10;
}
@media screen and (max-width: 767px) {
    #adminlogo{
        width: 100;
    }
  } */