body{
    font-family: 'Noto Sans Lao', sans-serif;
}
.logo{
    width: 40%;
    height: auto;
}
.table{
    width: 100%;
}
@media screen and (max-width: 767px) {
    .table{
        width: 100%;
    }
  }