RewriteEngine On
RewriteRule ^Home?$ Home.php
RewriteRule ^About?$ About.php
RewriteRule ^Conten?$ Conten.php
RewriteRule ^ContenDedials?$ ContenDedials.php
RewriteRule ^Registation?$ Registation.php
RewriteRule ^Score?$ Score.php

# make seo
# RewriteBase /
# RewriteCond % ^ecogrowthlao.com [NC]
# RewriteRule ^(.*)$ https://www.ecogrowthlao.com/$1 [L,R=301]


#NOFOT WHEN IS .php
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
# RewriteRule .* - [L,R=404]